body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.calculator{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    margin-bottom:15px;
    color:#2a5298;
}

#display{
    width:100%;
    height:60px;
    font-size:28px;
    text-align:right;
    border:none;
    background:#f1f3f6;
    border-radius:10px;
    margin-bottom:15px;
    padding-right:10px;
    box-sizing:border-box;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:10px;
}

button{
    width:70px;
    height:70px;
    border:none;
    border-radius:10px;
    font-size:22px;
    cursor:pointer;
    background:#ecf0f1;
    transition:0.2s;
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.operator{
    background:#3498db;
    color:white;
}

.operator:hover{
    background:#2980b9;
}

.clear{
    background:#e74c3c;
    color:white;
}

.clear:hover{
    background:#c0392b;
}

.equal{
    background:#27ae60;
    color:white;
}

.equal:hover{
    background:#219150;
}


/* body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.calculator{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10 30px rgba(0,0,0,0.3);
}

#display{
    width:100%;
    height:60px;
    font-size:28px;
    text-align: right;
    border: none;
    background: #f1f3f6;
    border-radius: 10px;
    margin-bottom:10px;
    padding-right: 10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:10px;
}


button{
    background: #ecf0f1;
}
button:hover{
    transform:scale(1.05);
}

.clear{
    grid-column:span 4;
} */